/* src/Assets/Styles/AddUser.css */

.add-user-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .add-user-container h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
  }
  
  .add-user-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-user-container button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 150px;
    background-color: #F2B950;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: center;
  }
  
  .add-user-container button:hover {
    background-color: #F2A950;
    transform: scale(1.05);
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content ul {
    list-style: none;
    padding: 0;
  }
  
  .modal-content ul li {
    margin: 5px 0;
  }
  
  .modal-content button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #F2B950;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .modal-content button:hover {
    background-color: #F2A950;
    transform: scale(1.05);
  }
  