/* Feedback container */
.feedback-container {
    background-image: url("../Images/bglogin.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
  }
  
  /* Feedback form */
  .feedback-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.37);
    border: 10px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
  }
  
  .feedback-form h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Rating section */
  .rating-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .emoji {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    margin: 0 10px;
  }
  
  .emoji.selected {
    transform: scale(1.2);
    color: #f9b026;
  }
  
  /* Textarea */
  .feedback-form textarea {
    width: 95%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
  }
  
  .feedback-form textarea:focus {
    border-color: #f9b026;
    outline: none;
  }
  
  /* Button */
  .feedback-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9b026;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .feedback-form button:hover {
    background-color: #e58e26;
    transform: scale(1.05);
  }
  
  .feedback-form button:active {
    background-color: #f9b026;
    transform: scale(0.95);
  }
  .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 10px;
  }
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  